/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2em 1em 4em 1em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.title {
  font-weight: 500;
}

.cookBookItemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.cookBookItem {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid;
  border-color: var(--ifm-color-dark-4);
  background-color: var(--ifm-color-dark-2);
  color: inherit;
  text-decoration: none !important;
  color: inherit !important;
  max-width: 370px;
  width: 100%;
}

.cardHeader {
  display: flex;
  align-items: start;
  gap: 1.7rem;
  margin-bottom: 1rem;
}

.cardTitle {
  color: inherit;
  flex: 1;
  margin: 0;
  font-weight: 500;
}
.cardTitle:hover {
  color: inherit;
  text-decoration: none;
}

.icon {
  width: 3rem;
  height: 3rem;
  background: var(--ifm-color-primary-bright);
  color: var(--ifm-color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  opacity: 0.6;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cardFooter {
  display: flex;
  margin-top: auto;
  align-items: end;
  gap: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  flex: 1;
}

.tag {
  padding: 0.2rem 0.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  background: var(--ifm-color-primary-bright);
  color: var(--ifm-color-primary);
  white-space: nowrap;
}

.goToArrowBtn {
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ifm-color-dark-3);
}

.filterInput {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid;
  height: 40px;
  border-color: var(--ifm-color-dark-4);
  border-radius: 0.5rem;
  background-color: var(--ifm-color-dark-2);
}
.filterInput:focus {
  outline: 1px solid var(--ifm-color-primary-dark);
}

.filterBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
}

.filterSelectContainers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nothingHere {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: var(--ifm-color-dark-3);
}

.cookbookListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.cookbookListTitle {
  margin: 0;
}

.cookbookList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 800px) {
  .filterBar {
    flex-direction: row;
    align-items: center;
  }
}

.cookbookItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-color-dark-4);
  align-items: center;
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .cookbookItem {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cookbookItem:hover {
  text-decoration: none;
  color: inherit;
}

.cookbookItemTitle {
  font-size: 1rem;
  vertical-align: middle;
}

.cookbookItemTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

.hidden-indexer {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;
}