@import 'tailwindcss';
@import 'tw-animate-css';
@config '../../tailwind.config.js';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    'Arial', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono:
    var(--font-sf-mono), 'SF Mono', ui-monospace, SFMono-Regular, Menlo, Monaco,
    'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Mono', monospace;

  /* radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-foreground: var(--dark-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-soft: var(--primary-soft);
  --color-primary-soft-foreground: var(--primary-soft-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-code-background: var(--code-background);
  --color-code-foreground: var(--code-foreground);

  --color-model-pink: var(--model-pink);
  --color-model-red: var(--model-red);
  --color-model-orange: var(--model-orange);
  --color-model-yellow: var(--model-yellow);
  --color-model-green: var(--model-green);
  --color-model-blue: var(--model-blue);
  --color-model-purple: var(--model-purple);

  /* New model color variables */
  --color-model-yellow-subtle: var(--model-yellow-subtle);
  --color-model-amber-subtle: var(--model-amber-subtle);
  --color-model-orange-subtle: var(--model-orange-subtle);
  --color-model-red-subtle: var(--model-red-subtle);
  --color-model-rose-subtle: var(--model-rose-subtle);
  --color-model-fuschia-subtle: var(--model-fuschia-subtle);
  --color-model-pink-subtle: var(--model-pink-subtle);
  --color-model-purple-subtle: var(--model-purple-subtle);
  --color-model-violet-subtle: var(--model-violet-subtle);
  --color-model-indigo-subtle: var(--model-indigo-subtle);
  --color-model-blue-subtle: var(--model-blue-subtle);
  --color-model-sky-subtle: var(--model-sky-subtle);
  --color-model-cyan-subtle: var(--model-cyan-subtle);
  --color-model-teal-subtle: var(--model-teal-subtle);
  --color-model-emerald-subtle: var(--model-emerald-subtle);
  --color-model-green-subtle: var(--model-green-subtle);
  --color-model-lime-subtle: var(--model-lime-subtle);
  --color-model-beige-subtle: var(--model-beige-subtle);

  --color-api-light-blue: var(--api-light-blue);
  --color-api-orange: var(--api-orange);
  --color-api-violet: var(--api-violet);

  --color-model: var(--model-color);
  --icon-model: var(--model-icon);
  --color-api-type: var(--api-type);

  --color-mistral-color-1: var(--mistral-color-1);
  --color-mistral-color-2: var(--mistral-color-2);
  --color-mistral-color-3: var(--mistral-color-3);
  --color-mistral-color-4: var(--mistral-color-4);

  --color-indigo-500: oklch(0.5787 0.2208 276.98);

  --color-types-number: var(--types-number);
  --color-types-number-foreground: var(--types-number-foreground);
  --color-types-string: var(--types-string);
  --color-types-string-foreground: var(--types-string-foreground);
  --color-types-boolean: var(--types-boolean);
  --color-types-boolean-foreground: var(--types-boolean-foreground);
  --color-types-null: var(--types-null);
  --color-types-null-foreground: var(--types-null-foreground);
  --color-types-object: var(--types-object);
  --color-types-object-foreground: var(--types-object-foreground);
  --color-types-enum: var(--types-enum);
  --color-types-enum-foreground: var(--types-enum-foreground);
  --color-types-union: var(--types-union);
  --color-types-union-foreground: var(--types-union-foreground);
  --color-types-array: var(--types-array);
  --color-types-array-foreground: var(--types-array-foreground);

  /* Speakeasy expandable components */
  --speakeasy-border-color: var(--color-border);
  --speakeasy-border-width: 1px;
  --speakeasy-border-radius-sm: var(--radius-sm);
  --speakeasy-border-radius-md: var(--radius-md);
  --speakeasy-border-radius-lg: var(--radius-lg);
  --speakeasy-font-mono: var(--font-mono);
  --speakeasy-anchor-color: var(--color-primary);

  --speakeasy-expandable-button-radius: var(--speakeasy-border-radius-sm);
  --speakeasy-expandable-line-color: var(--color-border);
  --speakeasy-expandable-cell-size: 1rem;
  --speakeasy-expandable-cell-height-multiplier: 1.3;
  --speakeasy-expandable-treetoper-diameter: 8px;

  --speakeasy-pill-border-radius: var(--radius-md);
  --speakeasy-pill-padding: 2px 6px;
  --speakeasy-pill-font-family: var(--font-mono);
  --speakeasy-pill-font-size: 80%;

  --speakeasy-property-type-font-size: var(--speakeasy-pill-font-size);
  --speakeasy-property-type-color: var(--color-primary);
  --speakeasy-property-type-background-color: var(--color-background);
  --speakeasy-property-type-border-radius: var(--speakeasy-border-radius-md);
  --speakeasy-property-type-border-color: var(--color-border);

  /* shadows */
  --shadow-inner-ring: inset 0 0 0 1px var(--color-border);

  /* spacing */
  --spacing-sides: var(--sides);
  --spacing-header: var(--header);
  --spacing-fold: calc(100dvh - var(--header));
  --spacing-fold-no-breadcrumb: calc(
    100dvh - var(--header) - var(--breadcrumb)
  );
  --spacing-sidebar-width: var(--sidebar-width);
  --spacing-api-operation-content: var(--api-operation-content-spacing);
  --spacing-api-operation-response: var(--api-operation-response-spacing);

  /* text sizing */
  --text-xs--line-height: 1.4;
  --text-xs--letter-spacing: -0.01em;

  --text-sm--line-height: 1.4;
  --text-sm--letter-spacing: -0.015em;

  --text-base--line-height: 1.5;
  --text-base--letter-spacing: -0.02em;

  --text-lg--line-height: 1.4;
  --text-lg--letter-spacing: -0.02em;

  --text-xl--line-height: 1.2;
  --text-xl--letter-spacing: -0.02em;

  --text-2xl--line-height: 1.2;
  --text-2xl--letter-spacing: -0.02em;

  --text-3xl--line-height: 1.2;
  --text-3xl--letter-spacing: -0.02em;

  --text-4xl--line-height: 1.1;
  --text-4xl--letter-spacing: -0.02em;

  --text-5xl--line-height: 1.1;
  --text-5xl--letter-spacing: -0.02em;

  --text-6xl: 3.5rem; /* 56px */
  --text-6xl--line-height: 1.1;
  --text-6xl--letter-spacing: -0.04em;

  --text-7xl--line-height: 1.1;
  --text-7xl--letter-spacing: -0.04em;

  --text-8xl--line-height: 1.1;
  --text-8xl--letter-spacing: -0.04em;

  --text-9xl--line-height: 1.1;
  --text-9xl--letter-spacing: -0.04em;

  /* spacings */
  --spacing-breadcrumb: var(--breadcrumb);
  --spacing-inner-sides: var(--inner-sides);

  /* transitions */
  --transition-property-base:
    opacity, box-shadow, color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via,
    --tw-gradient-to;

  /* easings */
  --ease-quick-back: cubic-bezier(0, 0, 0.2, 1);
  /* animations */
  --animate-sheet-clip-in: sheet-clip-in 0.3s var(--ease-quick-back) forwards;
  --animate-sheet-clip-out: sheet-clip-out 0.3s var(--ease-quick-back) forwards;
  --animate-menu-clip-in: menu-clip-in 0.3s var(--ease-quick-back) forwards;
  --animate-menu-clip-out: menu-clip-out 0.3s var(--ease-quick-back) forwards;

  /* Custom breakpoints */
  --breakpoint-api-desktop: 1280px;

  @keyframes sheet-clip-in {
    from {
      clip-path: inset(0 0 100% 0);
      opacity: 0;
    }
    to {
      clip-path: inset(0 0 0% 0);
      opacity: 1;
    }
  }

  @keyframes sheet-clip-out {
    from {
      clip-path: inset(0 0 0% 0);
      opacity: 1;
    }
    to {
      clip-path: inset(0 0 100% 0);
      opacity: 0;
    }
  }

  @keyframes menu-clip-in {
    from {
      clip-path: inset(0 0 100% 0);
    }
    to {
      clip-path: inset(0 0 0% 0);
    }
  }

  @keyframes menu-clip-out {
    from {
      clip-path: inset(0 0 0% 0);
    }
    to {
      clip-path: inset(0 0 100% 0);
    }
  }
}

:root {
  /* radius */
  --radius: 0.625rem;

  /* colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.2161 0.0061 56.04);
  --dark-foreground: oklch(0.2161 0.0061 56.04);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.6639 0.2147 37.25);
  --primary-foreground: oklch(0.9967 0.0054 95.1);
  --primary-soft: oklch(0.735 0.1841 53.6);
  --primary-soft-foreground: oklch(0.2161 0.0061 56.04);
  --secondary: oklch(0.9368 0.0013 106.43);
  --secondary-foreground: oklch(0.205 0 0);
  --tertiary: oklch(0.9101 0.101 92.32);
  --tertiary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.9729 0.0013 106.42);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.2739 0.0055 286.03 / 20%);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.9368 0.0013 106.43);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --code-background: oklch(0.9729 0.0013 106.42);
  --code-foreground: oklch(0.2161 0.0061 56.04);

  --model-pink: oklch(0.8746 0.0954 336.78);
  --model-red: oklch(0.6639 0.2147 37.25);
  --model-orange: oklch(0.735 0.1841 53.6);
  --model-yellow: oklch(0.9101 0.101 92.32);
  --model-green: oklch(0.7639 0.1263 146.86);
  --model-blue: oklch(0.8859 0.0471 215.03);
  --model-purple: oklch(0.7435 0.15965 301.9512);
  --model-beige: oklch(0.9403 0.0356 91.12);
  --model-gray: oklch(0.9368 0.0013 106.43);

  --model-yellow-subtle: #fff7c5;
  --model-amber-subtle: #fff1d4;
  --model-orange-subtle: #ffe7d5;
  --model-red-subtle: #ffdedd;
  --model-rose-subtle: #fbe5e6;
  --model-fuschia-subtle: #fbecfa;
  --model-pink-subtle: #fee5f6;
  --model-purple-subtle: #f5ebfc;
  --model-violet-subtle: #f0eafd;
  --model-indigo-subtle: #e1e7fd;
  --model-blue-subtle: #d6efff;
  --model-sky-subtle: #e3f2fd;
  --model-cyan-subtle: #e3f2fd;
  --model-teal-subtle: #d5faf2;
  --model-emerald-subtle: #d9f9e6;
  --model-green-subtle: #e1ffc7;
  --model-lime-subtle: #fbfbcc;
  --model-beige-subtle: #fff0c3;

  --api-light-blue: oklch(0.6021 0.1778 251.55);
  --api-orange: var(--primary-soft);
  --api-violet: oklch(0.5901 0.2988 308.7);

  /* badges */
  --badge-released: oklch(0.9 0.0868 140.91);

  /* spacing */
  --sides: 1rem;
  --inner-sides: 4rem; /* 64px */
  --header: 4.5rem; /* 72px */
  --sidebar-width: 16rem;
  --breadcrumb: 4rem; /* 64px */

  /* Spacing in API Pages */
  --api-operation-content-spacing: 3.5rem; /* 56px */
  --api-operation-response-spacing: 1.5rem; /* 24px */

  /* Brand Colors */
  --mistral-color-1: oklch(0.6639 0.2147 37.25);
  --mistral-color-2: oklch(0.735 0.1841 53.6);
  --mistral-color-3: oklch(0.8106 0.170361 75.8706);
  --mistral-color-4: oklch(0.8907 0.1833 96.19);

  /* Types Colors */
  --types-number: color-mix(
    in oklch,
    oklch(0.5901 0.2988 308.7) 10%,
    transparent
  );
  --types-number-foreground: color-mix(
    in oklch,
    oklch(0.5901 0.2988 308.7) 50%,
    transparent
  );
  --types-string: color-mix(
    in oklch,
    oklch(0.735 0.1841 53.6) 10%,
    transparent
  );
  --types-string-foreground: color-mix(
    in oklch,
    oklch(0.735 0.1841 53.6) 70%,
    transparent
  );
  --types-union: color-mix(in oklch, oklch(0.735 0.1841 53.6) 10%, transparent);
  --types-union-foreground: color-mix(
    in oklch,
    oklch(0.735 0.1841 53.6) 70%,
    transparent
  );
  --types-boolean: color-mix(
    in oklch,
    oklch(0.3956 0.1542 274.58) 10%,
    transparent
  );
  --types-boolean-foreground: color-mix(
    in oklch,
    oklch(0.3956 0.1542 274.58) 50%,
    transparent
  );
  --types-array: color-mix(
    in oklch,
    oklch(0.6021 0.1778 251.55) 10%,
    transparent
  );
  --types-array-foreground: color-mix(
    in oklch,
    oklch(0.6021 0.1778 251.55) 70%,
    transparent
  );
  --types-enum: color-mix(
    in oklch,
    oklch(0.6233 0.2075 143.11) 10%,
    transparent
  );
  --types-enum-foreground: color-mix(
    in oklch,
    oklch(65.99% 0.21825 143.131) 90%,
    transparent
  );
  --types-object: color-mix(
    in oklch,
    oklch(0.5901 0.2988 308.7) 10%,
    transparent
  );
  --types-object-foreground: color-mix(
    in oklch,
    oklch(0.5901 0.2988 308.7) 70%,
    transparent
  );
}

@media (max-width: theme('screens.xl')) {
  :root {
    --api-operation-content-spacing: 2rem; /* 32px */
    --api-operation-response-spacing: 2rem; /* 32px */
  }
}

@media (max-width: theme('screens.lg')) {
  :root {
    --breadcrumb: 3rem; /* 48px */
  }
}

@media (max-width: theme('screens.md')) {
  :root {
    --header: 3.375rem; /* 54px */
    --sides: 2rem;
    --inner-sides: var(--sides);
    --api-operation-content-spacing: 1rem; /* 16px */
    --api-operation-response-spacing: 1rem; /* 16px */
  }
}

@media (max-width: theme('screens.sm')) {
  :root {
    --sides: 1rem;
  }
}

.dark {
  --background: oklch(0.173 0 0);
  --foreground: oklch(0.985 0 0);
  --dark-foreground: oklch(100% 0.00011 271.152);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.6639 0.2147 37.25);
  --primary-foreground: oklch(0.9967 0.0054 95.1);
  --primary-soft: oklch(0.6158 0.1589 48.63);
  --primary-soft-foreground: oklch(0.2161 0.0061 56.04);
  --secondary: oklch(74.443% 0.00008 271.152 / 0.124);
  --secondary-foreground: oklch(99.557% 0.0021 14.222);
  --muted: oklch(0.223 0.0038 286.08);
  --muted-foreground: oklch(100% 0.00011 271.152);
  --accent: oklch(1 0 0 / 7.5%);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 20%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(98.511% 0.00011 271.152);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --model-red: oklch(0.5544 0.1897 36.04);
  --model-orange: oklch(0.6158 0.1589 48.63);
  --model-yellow: oklch(0.7397 0.1464 88.05);
  --model-pink: oklch(0.5664 0.1295 338.46);
  --model-green: oklch(0.5264 0.0946 112.22);
  --model-blue: oklch(0.6067 0.0639 216.52);
  --model-purple: oklch(0.7435 0.15965 301.9512);
  --model-beige: oklch(0.5832 0.0377 92.41);
  --model-gray: oklch(0.269 0 0);

  --model-yellow-subtle: #1d1c1a;
  --model-amber-subtle: #312a27;
  --model-orange-subtle: #261310;
  --model-red-subtle: #2a100f;
  --model-rose-subtle: #261218;
  --model-fuschia-subtle: #21151f;
  --model-pink-subtle: #29101d;
  --model-purple-subtle: #201525;
  --model-violet-subtle: #1c1526;
  --model-indigo-subtle: #161627;
  --model-blue-subtle: #0f1b2c;
  --model-sky-subtle: #131b23;
  --model-cyan-subtle: #111d21;
  --model-teal-subtle: #141c1c;
  --model-emerald-subtle: #131c19;
  --model-green-subtle: #141e10;
  --model-lime-subtle: #1b1d11;
  --model-beige-subtle: #2b2a25;

  --api-light-blue: oklch(0.6021 0.1778 251.55);
  --api-orange: var(--primary-soft);
  --api-violet: oklch(0.5901 0.2988 308.7);

  /* Brand Colors */
  --mistral-color-1: oklch(0.531 0.189506 34.3058);
  --mistral-color-2: oklch(0.6158 0.1589 48.63);
  --mistral-color-3: oklch(0.7397 0.1464 88.05);
  --mistral-color-4: oklch(0.8888 0.1827 95.76);

  --code-background: oklch(0.2161 0.0061 56.04);
  --code-foreground: oklch(0.985 0 0);

  /* Types Colors */
  --types-boolean: color-mix(
    in oklch,
    oklch(0.7241 0.1456 279.51) 10%,
    transparent
  );
  --types-boolean-foreground: color-mix(
    in oklch,
    oklch(0.7241 0.1456 279.51) 50%,
    transparent
  );
  --types-number: color-mix(
    in oklch,
    oklch(0.6712 0.2172 313.71) 15%,
    transparent
  );
  --types-number-foreground: color-mix(
    in oklch,
    oklch(0.6712 0.2172 313.71) 70%,
    transparent
  );
  --types-object: color-mix(
    in oklch,
    oklch(0.6712 0.2172 313.71) 15%,
    transparent
  );
  --types-object-foreground: color-mix(
    in oklch,
    oklch(0.6712 0.2172 313.71) 70%,
    transparent
  );
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-padding-top: calc(var(--header) + 6rem);
  }

  body {
    -webkit-font-smoothing: antialiased;
    @apply bg-muted text-foreground overscroll-none;
  }

  .property-highlight-animation {
    --property-highlight-color: color-mix(
      in oklch,
      var(--primary) 80%,
      transparent
    );

    animation-name: property-highlight-animation;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: var(--ease-out);
    animation-fill-mode: forwards;
  }

  .prose {
    [data-type='table'] {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    [data-type='code'] {
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    [data-type='section-tab'] {
      margin-top: 3.5em;
      margin-bottom: 1.5em;
    }
  }
}

@media (max-width: theme('screens.md')) {
  html {
    scroll-padding-top: calc(var(--header) + 2rem);
  }
}

@layer utilities {
  .smooth-gradient-shadow {
    background: linear-gradient(
      0deg,
      color-mix(in oklch, var(--background) 100%, transparent 0%) 0%,
      color-mix(in oklch, var(--background) 70%, transparent 30%) 11%,
      color-mix(in oklch, var(--background) 47%, transparent 53%) 22%,
      color-mix(in oklch, var(--background) 30%, transparent 70%) 33%,
      color-mix(in oklch, var(--background) 17%, transparent 83%) 44%,
      color-mix(in oklch, var(--background) 9%, transparent 91%) 56%,
      color-mix(in oklch, var(--background) 4%, transparent 96%) 67%,
      color-mix(in oklch, var(--background) 1%, transparent 99%) 78%,
      color-mix(in oklch, var(--background) 0%, transparent 100%) 89%,
      color-mix(in oklch, var(--background) 0%, transparent 100%) 100%
    );
  }

  .dark .smooth-gradient-shadow {
    background: linear-gradient(
      0deg,
      color-mix(in oklch, var(--background) 100%, transparent 0%) 0%,
      color-mix(in oklch, var(--background) 70%, transparent 30%) 11%,
      color-mix(in oklch, var(--background) 47%, transparent 53%) 22%,
      color-mix(in oklch, var(--background) 30%, transparent 70%) 33%,
      color-mix(in oklch, var(--background) 17%, transparent 83%) 44%,
      color-mix(in oklch, var(--background) 9%, transparent 91%) 56%,
      color-mix(in oklch, var(--background) 4%, transparent 96%) 67%,
      color-mix(in oklch, var(--background) 1%, transparent 99%) 78%,
      color-mix(in oklch, var(--background) 0%, transparent 100%) 89%,
      color-mix(in oklch, var(--background) 0%, transparent 100%) 100%
    );
  }

  .prose {
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }

    [data-type='section-tab']:has(+ [data-type='heading']) {
      margin-bottom: 0 !important;
    }

    details > summary::-webkit-details-marker {
      display: none;
    }

    details > summary {
      list-style: none;
    }

    details > summary::marker {
      content: '';
    }

    details > summary::before {
      content: '';
      display: inline-block;
      width: 0.5rem;
      height: 0.8rem;
      margin-right: 0.5rem;
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA1IDgiIGZpbGw9Im5vbmUiPgo8cGF0aCBkPSJNMSA3LjA0MDEyTDMuNjY2NjcgNC4zNzM0NUwxIDEuNzA2NzkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1vcGFjaXR5PSIwLjciIHN0cm9rZS13aWR0aD0iMS4zMzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4=');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: transform 200ms var(--ease-quick-back);
      transform: rotate(0deg);
    }

    details[open] > summary::before {
      transform: rotate(90deg);
    }
  }

  .dark .prose details > summary::before {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjgiIHZpZXdCb3g9IjAgMCA1IDgiIGZpbGw9Im5vbmUiPgogIDxwYXRoIGQ9Ik0xIDcuMDQwMTJMMy42NjY2NyA0LjM3MzQ1TDEgMS43MDY3OSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLW9wYWNpdHk9IjAuOCIgc3Ryb2tlLXdpZHRoPSIxLjMzMzMzIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPg==');
  }

  .not-prose .section-tab-container {
    margin: unset !important;
  }

  .inset-inner-sides {
    margin-left: calc(var(--inner-sides) * -1);
    width: calc(100% + var(--inner-sides) * 2);
    background: red;
  }

  .pixelated {
    image-rendering: pixelated;
  }

  /* this will allow us to use the font-mono class without the letter-spacing but set custom letter-spacing defaults */
  .font-mono {
    letter-spacing: 0em;
    line-height: 1.5;
  }

  .operation-grid {
    @apply grid grid-cols-1 xl:grid-cols-[clamp(560px,60%,1240px)_minmax(340px,1fr)] gap-0;
  }

  .focus-ring {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary/30 focus-visible:border-primary/70;
  }
}

/* Animated Ground Keyframes */
@keyframes ground-scroll {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: calc(
      var(--bg-size) * -1
    ); /* This should match the tile width */
  }
}

@keyframes property-highlight-animation {
  0% {
    box-shadow: 0 0 0 0px transparent;
  }
  50% {
    box-shadow: 0 0 0 2px var(--property-highlight-color);
  }
  100% {
    box-shadow: 0 0 0 4px transparent;
  }
}

.animate-ground-scroll {
  animation: ground-scroll 3s linear infinite;
}

/* Add to your global CSS file */
#cookbook-table-container::-webkit-scrollbar {
  width: 8px;
}

#cookbook-table-container::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 4px;
}

#cookbook-table-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
  border: 1px solid var(--scrollbar-track);
}

#cookbook-table-container {
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

[data-type='code'] pre {
  scrollbar-width: thin;
  transition: scrollbar-color 0.1s ease-in-out;
  &::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }
}
[data-type='code'] pre {
  scrollbar-color: transparent transparent;
}
.scrollbar-thin,
[data-type='code'] pre[data-scrolling='true'] {
  /* Firefox */
  scrollbar-color: color-mix(in oklch, var(--code-foreground) 10%, transparent)
    transparent;
}

.speakeasy-code-tab[data-language] {
  display: none;
}

[data-selected-language='python'] .speakeasy-code-tab[data-language='python'] {
  display: block;
}

[data-selected-language='typescript']
  .speakeasy-code-tab[data-language='typescript'] {
  display: block;
}

[data-selected-language='javascript']
  .speakeasy-code-tab[data-language='javascript'] {
  display: block;
}

html[data-selected-language='curl'] .speakeasy-code-tab[data-language='curl'] {
  display: block;
}

.speakeasy-code-tab-trigger[data-language] {
  color: inherit;
}

[data-selected-language='python']
  .speakeasy-code-tab-trigger[data-language='python'],
[data-selected-language='typescript']
  .speakeasy-code-tab-trigger[data-language='typescript'],
[data-selected-language='javascript']
  .speakeasy-code-tab-trigger[data-language='javascript'],
[data-selected-language='curl']
  .speakeasy-code-tab-trigger[data-language='curl'] {
  @apply bg-code-background dark:text-foreground dark:[&_p]:text-foreground;
}

@utility scrollbar-none {
  /* Firefox */
  scrollbar-width: none;
  /* IE/Edge */
  -ms-overflow-style: none;
  /* Chrome/Safari/Opera */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

@variant has-mouse {
  @media (pointer: fine) {
    @slot;
  }
}

@variant has-touch-screen {
  @media (pointer: coarse) {
    @slot;
  }
}
