/*
	Scalar Global Variables
*/
:root {
	--scalar-color-accent: var(--ifm-color-primary);
	--scalar-link-color: var(--ifm-link-color);
	--scalar-link-color-hover: var(--ifm-link-color);
	--scalar-semibold: var(--ifm-font-weight-semibold);
	--scalar-sidebar-active-background: orange;
	--scalar-border-width: 1px;
}

/*
	API Reference Styles
*/
.scalar-app {

	/* Reset styles */
	h2,
	h3 {
		margin-bottom: 0;
		font-size: var(--scalar-font-size-1);
	}

	h2 > span {
		display: inline-block!important;
		font-size: var(--scalar-font-size-4);
		font-weight: var(--scalar-semibold);
	}

	.models-list h3 {
		font-size: var(--scalar-font-size-4);
		font-weight: var(--scalar-normal);
	}

	ul {
		padding-left: 0;
		margin-bottom: 0;
	}

	.parameter-item-trigger {
		align-items: center!important;
	}

	/* Introduction code styles */
	.markdown code {
		border: none;
	}

	.introduction-card-item {
		--scalar-border-width: 1px;
	}

	/* Sidebar styles */
	.sidebar {
		.sidebar-search-input {
			font-size: 14px;
			font-weight: 400;
		}

		.sidebar-heading-link {
			color: var(--ifm-menu-color);
			padding-right: 6px;
		}

		.active_page.sidebar-heading p {
			color: var(--ifm-menu-color-active);
		}	

		.sidebar-heading-link:hover {
			color: var(--ifm-color-primary);
		}

		.sidebar-indent-nested .sidebar-heading {
				--scalar-sidebar-indent-base: 12px;
		}

		.sidebar-pages {
			padding-right: 0;
		}

		.toggle-nested-icon {
			display: none;
		}
	}
}

/*
	Scalar Client Modal styles
*/
.scalar-client {
	--scalar-border-width: 0.5px;
}